@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heads{
  color: rgb(94, 94, 255);
  letter-spacing: 3px;
  font-weight: bold;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-210%); }
}

/* Enable animation */
.marquee {
  animation: scroll 8s infinite linear;
}

.card-radius{
  border-radius: 75px 20px 20px 20px;
}