@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heads{
  color: rgb(94, 94, 255);
  letter-spacing: 3px;
  font-weight: bold;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-250%); }
}

/* Enable animation */
.marquee {
  animation: scroll 8s infinite linear;
}

.card-radius{
  border-radius: 75px 20px 20px 20px;
}